[submodule "3rdparty/timeloop"]
	path = 3rdparty/timeloop
	url = git@github.com:gulang2019/timeloop.git
[submodule "3rdparty/mcts"]
	path = 3rdparty/mcts
	url = git@github.com:Konijnendijk/cpp-mcts.git
